#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media print {
  .no-print, .rdt_Pagination, input,.rdt_TableCell:first-child, .rdt_TableCol:first-child {
    display: none !important;
  }
}